main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.card-container {
    display: flex;
    width: 600px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}